HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Deprecated ###
**/src/main/java/FitMate/FitMateBackend/deprecated/

### Jisung ###
/src/main/java/FitMate/FitMateBackend/P6spyPrettySqlFormatter.java
/src/main/java/FitMate/FitMateBackend/P6spyConfig.java
/src/main/resources/META-INF/
/src/main/resources/spy.properties

### DB관련 resource ###
/src/main/resources/application.properties
/src/main/resources/application.yml